*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release
*.apk
*.aab
!Vocabuilder-v1.0.apk
*.jks
*.keystore
word books/GaoKao_3500.json
